<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        .unavailable{
          color: red;
        }
        .available{
          color: green;
        }
      </style>
</head>
<body>
    <h2>Librarian: <%= user.email %></h2>
    <h1>Welcome to Stony Hill Library System</h1>

    <table>
        <caption>Loan System for library</caption>
        <thead>
            <tr>
                <th>Student</th>
                <th>Book</th>
                <th>Date Loaned</th>
                <th>Date Due</th>
                <th>Book Status</th>
                <th>Update Status</th>
            </tr>
        </thead>
        <tbody>
            <% records.forEach((record)=>{%>
            <tr class="<%= (Date.now() > new Date(record.due_date)) ? 'unavailable' : 'available'%>">
                <td><%= record.student %></td>
                <td><%= record.name %></td>
                <td><%= new Date(record.loan_date).toISOString().slice(0,10) %></td>
                <td><%= new Date(record.due_date).toISOString().slice(0,10)%></td>
                <td><%= record.book_status %></td>
                <td>
                    <form action="/updateStatus/<%= record.book_id %>" method="POST">
                        <input type="text" value="<%= record.book_status%>" name="status"> 
                        <button type="submit">Update</button>
                    </form>
                </td>
            </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>